
.cart-total-main {
    display:flex;
    flex-direction:column;
    align-self:flex-start;
    margin-top:50px;
    width:300px;
}

.cart-total-div {
    display:flex;
    flex-direction:column;
}

.cart-total-sub-total {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.cart-total-sub-total p {
    margin-top:8px;
    margin-bottom:8px;
}

.cart-total-sub-total div {
    display:flex;
}

.cart-total-sub {
    display:flex;
    align-items:center;
    justify-content:space-between;
    border:none;
    border-top:1px solid black;
}


.cart-total-sub p {
    margin-top:8px;
    margin-bottom:8px;
}

.cart-total-sub div {
    display:flex;
}


