:root {
    font-family:DM Sans;
    scrollbar-gutter: stable;
}

body {
    padding-top:60px; 
}

@media (max-width: 400px) {
    body {
        padding-top:26%; 
    }
}

@media (min-width: 401px) and (max-width: 500px) {
    body {
        padding-top:24%; 
    }
}

@media (min-width: 501px) and (max-width: 830px) {
    body {
        padding-top:18%; 
    }
}
/* 100px */